.app{
    .loader-spinner{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .whatsapp{
        position: fixed;
        bottom: 5%;
        right: 3%;
        z-index: 1300;
    }
}